.navbar {
    background-color: #0056b3; 
}

.navbar-brand {
    font-size: 2rem; 
    color: white; 
}

#sidebarMenu {
    height: 100vh;
    overflow-y: auto;
    padding: 20px; 
}

#sidebarMenu .btn {
    width: 100%;
    margin-top: 10px;
}

main {
    padding: 20px; 
}

.forecast {
    border: 1px solid #dddddd; 
    padding: 10px; 
    margin-bottom: 10px; 
}

#cityList button {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#cityList {
    list-style-type: none;
}

